{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="{{ product.image }}" class="img-fluid rounded-start" alt="{{ product.name }}">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="card-text"><strong>Описание:</strong> {{ product.description }}</p>
                    <p class="card-text"><strong>Цена:</strong> {{ product.price }} ₽</p>
                    <a href="{% url 'products-list' %}" class="btn btn-secondary mt-3">Назад к списку</a>
                    <a href="{% url 'product-edit' product.id %}" class="btn btn-warning mt-3">Редактировать</a>
                    <a href="{% url 'product-delete' product.id %}" class="btn btn-danger mt-3">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


